body {
    font-family: sans-serif;
}
nav {
    /*outline: 1px solid red;*/
    width: 500px;
}
ul {
    /*outline: 1px solid red;*/
    list-style: none;
    margin: 0;
    padding: 0;
    background: #000;
    line-height: 30px;
    overflow: auto;
}
li {
    /*outline: 1px solid yellow;*/
    width: 90px;
    float: left;
    text-align: center;
}
a:hover {
    background: #ffc107;
    color: #000;
}
a:active {
    background: rgb(122, 119, 119);
    color: #fff;
}
a {
    /*outline: 1px solid green;*/
    text-decoration: none;
    display: block;
    color: #fff;
}


